<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">

    <Appenders>
        <File name="My-Quora-File" fileName="logs/quora.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %p: %msg%n</Pattern>
            </PatternLayout>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} %p: %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="My-Quora-File"/>
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>